body {
  background: linear-gradient(135deg, #a876ad, #c07f2a);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;

}

.message {
  font-size: 22px;
  margin-bottom: 18px;
  color: #f4f4f4;
}

.button {
  padding: 10px 15px;
  background-color: #d2b138;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .message {
    font-size: 16px;
  }

  .button {
    padding: 8px 15px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .message {
    font-size: 12px;
  }

  .button {
    padding: 7px 12px;
    font-size: 10px;
  }
}
